.row {
  color: #8d8d8d;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 3px;
  font-family: Poppins;
  font-size: .625rem;
  font-weight: 500;
  line-height: 15px;
  display: flex;
}

.text {
  margin-top: 1px;
}

.text-1 {
  margin-top: 1px;
  margin-left: 3px;
}

.text-2 {
  margin-top: 1px;
  margin-left: 10px;
}

.text-3 {
  margin-left: 14px;
}
