.startup-stage {
  color: #8d8d8d;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: .5rem;
  font-weight: 600;
  line-height: 30px;
  display: flex;
}

.input {
  text-transform: capitalize;
  color: #000;
  margin-bottom: 9px;
  font-size: 1.25rem;
}

.funding-stage {
  text-transform: capitalize;
  margin-bottom: 1px;
  font-weight: 500;
  line-height: 12px;
}
